/*----------- GERAL -----------*/
* {

    *::before,
    *::after {
        box-sizing: border-box;
    }

    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: "Inter",
    sans-serif;
}

:root {
    --cor-botaoMenu: #fff;
    --cor-fundo: #EEECEC;
    --cor-cabecalho: #373736;
    --cor-cabecalho-li: rgb(222, 220, 220);
    --cor-sombreamento: #3c3c3b;
    --cor-quemSomos: #F3F3F3;
    --cor-padrao: black;
    --cor-form: #D9D9D9;
    --cor-footer: #575756;
}

html,
body {
    background-color: var(--cor-fundo);
}

/*----------- CABEÇALHO -------------*/

.cabecalho-menu {
    height: 4vw;
    background-color: var(--cor-cabecalho);
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.cabecalho-menu nav a {
    color: var(--cor-cabecalho-li);
    font-size: 18px;
    font-weight: 400;
    position: relative;
}

.nav-list {
    padding-left: 4vw;
    display: flex;
    flex-direction: row;
    gap: 2.5vw;
}

/* Volta aqui */
.nav-list a::after {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    width: 0%;
    height: 0.5px;
    background-color: white;
    border-radius: 2px;
    transition: 0.2s ease-in-out;
}

.nav-list a:hover::after {
    width: 50%;
}

/*------------- TOPO SITE --------------*/

.FSLab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    z-index: 1;
    background-image: linear-gradient(rgba(60, 60, 59, 0.7), rgba(60, 60, 59, 0.9)), url(./imgs/pexels-christina-morillo-1181244%201.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/*------------------ Projetos Desenvolvidos -------------------*/

.projetos {
    padding: 2% 5%;
}

.titulo>h2 {
    position: relative;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 2vh;
}

.titulo>h2::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    width: 30px;
    height: 2px;
    background-color: var(--cor-padrao);
    border-radius: 2px;
}

.container {
    background-color: var(--cor-padrao);
    display: grid;
    grid-template-areas:
        'PD1 PD2 PD3 PD3'
        'PD4 PD4 PD3 PD3'
        'PD4 PD4 PD5 PD6';
    height: 65vh;
    gap: 0.3vw;
}

.slide {
    border: 2px solid gray;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

/*-----PD1-----*/
#PD1 {
    grid-area: PD1;
    transition: .3s ease-in-out;
}

#PD1:hover {
    transform: scale(1.04);
}

/*-----PD2-----*/
#PD2 {
    grid-area: PD2;
    transition: .3s ease-in-out;
}

#PD2:hover {
    transform: scale(1.04);
}

/*-----PD3-----*/
#PD3 {
    grid-area: PD3;
    transition: .3s ease-in-out;
}

#PD3:hover {
    transform: scale(1.02);
}

/*-----PD4-----*/
#PD4 {
    grid-area: PD4;
    transition: .3s ease-in-out;
}

#PD4:hover {
    transform: scale(1.02);
}

/*-----PD5-----*/
#PD5 {
    grid-area: PD5;
    transition: .3s ease-in-out;
}

#PD5:hover {
    transform: scale(1.04);
}

/*-----PD6-----*/
#PD6 {
    grid-area: PD6;
    transition: .3s ease-in-out;
}

#PD6:hover {
    transform: scale(1.04);
}

/*---------------- QUEM SOMOS ------------------*/

.quem-somos {
    display: flex;
    align-items: center;
    height: 55vh;
    background-color: var(--cor-quemSomos);
}

.projetos1 img {
    cursor: pointer;
    width: 45%;
    height: 40%;
    transition: .2s ease-in-out;
    border: 1px solid var(--cor-fundo);
}

.projetos1 img:hover {
    transform: scale(1.00);
    border: 1px solid var(--cor-padrao);
}

.quem-somos .titulo {
    margin-bottom: 5vh;
}

.vdo-paragrafo {
    display: flex;
}

.paragrafo p {
    font-size: 20px;
    margin-right: 5vw;
}

.paragrafo {
    display: flex;
    flex-direction: column;
    gap: 2vw
}

/*--------------- FAQ ---------------*/

.FAQ {
    height: 70vh;
}

.titulo-FAQ div {
    display: flex;
    flex-direction: column;
    padding: 4vw 0px;
    gap: 0.8vw;
}

.titulo-FAQ div button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-form);

    font-size: 20px;
    height: 6vh;
    padding: 1vw;
    border: none;
    cursor: pointer;
    transition: .1s;
}

.titulo-FAQ div button:hover {
    background-color: rgb(230, 230, 230);
}

.titulo-FAQ div button p {
    padding-left: 3vw;
}

.titulo-FAQ div button img {
    width: 1.3vw;
    padding-right: 1vw;
}


.titulo-FAQ div button img:hover {
    transform: scale(1.06);
}

/*-------------------- EQUIPE --------------------*/

.equipe {
    background-color: var(--cor-quemSomos);
}

.perfils img {
    margin: 0 0.3vw 4vw;
    width: 20vw;
    border: 1px solid var(--cor-quemSomos);
    transition: .3s;
    cursor: pointer;
}

.perfils img:hover {
    border: 1px solid var(--cor-padrao);
    border-radius: 10px;
}

.icon-perfil {
    display: grid;
    grid-template-columns: repeat(14, 5vw);
    justify-content: center;
    gap: 1vw;
}

.icon-perfil img {
    border-radius: 50px;
    transition: .3s ease-in-out;
}

.icon-perfil img:hover {
    background-color: rgb(203, 200, 200);
    border-radius: 10px;
    transform: scale(1.03);
}

.titulo-sem-traco h2 {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 40px;
}

/*------------------ FALE CONOSCO -------------------*/

.fale-conosco {
    height: 60vh;
}

/*------------------ FOOTER ----------------------*/

.footer {
    background-color: var(--cor-footer);
    height: 16vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logos-footer img {
    margin: 0 80px 0;
}

#img1 {
    height: 8vh;
}

#img2 {
    height: 9vh;
}

/*-------------- RESPONSIVIDADE ---------------*/


@media screen and (max-width: 1440px) {

    /*-------- CABECALHO -------------*/
    .cabecalho-menu {
        height: 8vh;
    }

    /*------ Quem somos -----*/
    .quem-somos {
        display: block;
        height: 50vh;
    }

    .paragrafo p {
        font-size: 15px;
    }

    /*------- FAQ -------*/
    .FAQ {
        height: 62vh;
    }

    /*-------- EQUIPE ----------*/
    .icon-perfil {
        display: grid;
        grid-template-columns: repeat(14, 6vw);
        gap: 1vw;
    }

}

@media screen and (max-width: 1024px) {
    .titulo h2 {
        font-size: 2.3vw;
    }

    .titulo-sem-traco h2 {
        font-size: 2.3vw;
    }

    /*-------- CABECALHO -------------*/
    .nav-list li a {
        font-size: 1.5vw;
    }

    /*------ Quem somos -----*/
    .quem-somos {
        display: block;
        height: 50vh;
    }

    .paragrafo p {
        font-size: 13px;
    }

    /*----------- EQUIPE ----------*/
    .icon-perfil {
        gap: 5px;
    }

    .icon-perfil img {
        width: 6vw;
    }
}

@media screen and (max-width: 768px) {

    /*--------QUEM SOMOS--------*/
    .quem-somos {
        height: 70vh;
    }

    .quem-somos .vdo-paragrafo {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
    }

    .quem-somos .paragrafo {
        margin-left: 5vw;
    }
}

@media screen and (max-width: 430px) {
    html, body {
        overflow-x: hidden;
    }

    .titulo h2 {
        font-size: 20px;
    }

    .titulo-sem-traco h2 {
        font-size: 20px;
    }

    /*-----------CABEÇALHO----------*/
    .cabecalho-menu {
        position: fixed;
        width: 100%;
        z-index: 11;
    }

    .menu-mobile {
        cursor: pointer;
    }

    .menu-mobile div {
        width: 32px;
        height: 2px;
        background: white;
        margin: 8px;
        transition: .3s;
    }

    .nav-list {
        position: absolute;
        top: 7vh;
        right: 100vw;
        width: 60vw;
        height: 93vh;
        background: var(--cor-cabecalho);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: .3s ease-in-out;
        border-bottom-right-radius: 10px;
    }

    .nav-list .estilo-menu {
        font-size: 16px;
    }

    .nav-list.active {
        right: 40vw;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(-50px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .menu-mobile.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .menu-mobile.active .line2 {
        opacity: 0;
    }

    .menu-mobile.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }

    /*-----------PROJETOS---------------*/
    .projetos {
        height: 50vh;
    }
    
    .carrosel {
        display: flex;
    }
    
    .container {
        display: flex;
        background: none;
        gap: 30px;
        transition: transform .5s ease-in-out;
        transform: translateX(0);
    }
    
    .slide {
        border: none;
    }

    .slide img {
        height: 40vh;
        width: 90vw;
    }
    /*----------QUEM SOMOS-----------*/

    .quem-somos {
        height: 92vh;
    }

    .paragrafo p {
        text-align: justify;
    }

    .vdo-paragrafo img {
        width: 80vw;
    }

    /*---------------------FAQ---------------------*/
    .FAQ {
        height: 54vh;
    }

    .FAQ div button img {
        width: 6vw;
    }

    /*--------------EQUIPE---------------*/
    .equipe {
        height: 72vh;
    }
    
    .perfils {
        display: grid;
        grid-template-columns: repeat(2, 50vw);
    }
    
    .perfils img {
        width: 40vw;
    }

    .icon-perfil {
        display: grid;
        grid-template-columns: repeat(7, 7vw);
        gap: 20px;
    }

    .icon-perfil img {
        width: 10vw;
    }

    /*----------FOOTER---------*/
    .logos-footer {
        display: flex;
        align-items: center;
    }

    .logos-footer img {
        width: 40vw;
        margin: 0 6vw;
    }
}